@font-face {
  font-family: 'ProtestStrike-Regular';
  src: url(./ProtestStrike-Regular.eot);
  src: url(./ProtestStrike-Regular.eot?#iefix) format('embedded-opentype'),
       url(./ProtestStrike-Regular.svg#ProtestStrike-Regular) format('svg'),
       url(./ProtestStrike-Regular.ttf) format('truetype'),
       url(./ProtestStrike-Regular.woff) format('woff');
}
